name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"
          cache: true

      - name: Get Dependencies
        run: flutter pub get

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: .
          args: >
            -Dsonar.sources=lib
            -Dsonar.exclusions=**/*.g.dart
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

